.page {
    box-shadow: 0px 0px 0px #ccc;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: -15mm; */
    width: 210mm;
    height: 297mm;
    /* background-color: antiquewhite; */
    padding: 15;
}

img {
    transition: box-shadow 0.2s, outline 0.1s;
    cursor: default;
}

.selected,
.selected:hover {
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    background-color: rgba(252, 252, 252, 1);
    /* border: 1px solid rgba(0, 195, 255, 1); */
    border: 1px solid rgba(171, 172, 174, 0.5);
}

glyph-box:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.3);
}

glyph-box:active {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 1);
}

.editSpace {
    height: auto;
    width: auto;
    padding: 0;
    /* padding-left: 0;
    padding-right: 0;
    padding-top: 1in;
    padding-bottom: 1in; */
    outline: 0px solid transparent;
    /* background-color: aqua; */
}

body {
    background-color: #F5F5F5;
    background-image: url(file:///data/Documents/SandBox/gtk-hello/css/bg.jpg);
    background-size: 40%;
    text-shadow: 0px -1px 1px #ddd, 0px 3px 1px #fff;
}

glyph-box {
    transition-property: all, box-shadow;
    transition-duration: 0.3s, 0.3s;
    outline: 0px solid rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.glyph-block {
    display: block;
    padding: 15px;
    padding-left: 2cm;
    padding-right: 2cm;
    margin-top: 2px;
    margin-bottom: 2px;
}

.glyph-ul {
    display: block;
    padding: 3px;
    padding-left: 3cm;
    padding-right: 2cm;
    margin-top: 2px;
    margin-bottom: 2px;
}

.glyph-ul::before {
    background-color: #000;
    border-radius: 100px;
    content: " ";
    display: block;
    margin-top: 6px;
    margin-left: -0.5cm;
    height: 6px;
    width: 6px;
    float: left;
}


/* .glyph-h1:hover,
.glyph-h2:hover,
.glyph-h3:hover,
.glyph-h4:hover,
.glyph-h5:hover,
.glyph-h6:hover,
.glyph-p:hover,
.glyph-img:hover {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.03);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
} */

 ::selection {
    background-color: rgba(0, 0, 0, 0.1);
    text-shadow: 0px 0px 0px #000;
}